<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="theme-color" content="#088DA5">
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="author" content="{{ site.author }}">
  <meta property="fb:app_id" content="{{site.fb_app_id}}" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="icon" sizes="16x16 32x32" href="favicon.ico">
  <link rel="icon" type="image/png" sizes="256x256" href="favicon.png">

  <meta content="{{ site.title }}" property="og:site_name">
  {% if page.title %}
    <meta content="{{ page.title }}" property="og:title">
  {% else %}
    <meta content="{{ site.title }}" property="og:title">
  {% endif %}
    <meta content="website" property="og:type">
    <meta content="{{ site.description }}" property="og:description">
  {% if page.url %}
    <meta content="{{ page.url | prepend: site.url }}" property="og:url">
  {% endif %}

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ "/css/screen.css" | prepend: site.baseurl }}">
</head>