* { 
    box-sizing: border-box;
    max-width: 100%;
}

html {
    height: 100%;
    width: 100%;
}

body {
    background: $background-colour url("/blog/img/noise.png");
    transition: color 2s ease-in-out;
}

body {
    font-family: $regular-font;
    font-size: $regular-text-size;
    color: $text-colour;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a {
    color: $link-colour;
    text-decoration: none;

    &:hover {
        color: $link-colour-over;
    }
}

.dark {
    body {
        color: $dark-text-colour;
        background: $dark-background-colour url("/blog/img/dark-noise.png");
    }
}