#ribbon {
    background-size: cover;
    width: 100%;
    text-align: center;

    // Non-retina device
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url($banner);

    // Retina @2x device
    @media only screen and (-webkit-min-device-pixel-ratio: 1.2), only screen and (min--moz-device-pixel-ratio: 1.2), only screen and (-o-min-device-pixel-ratio: 5/4), only screen and (min-device-pixel-ratio: 1.2), only screen and (min-resolution: 120dpi), only screen and (min-resolution: 1.2dppx) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url($banner-2x);
    }

    // Retina @3x device
    @media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min--moz-device-pixel-ratio: 3), only screen and (-o-min-device-pixel-ratio: 3/1), only screen and (min-device-pixel-ratio: 3), only screen and (min-resolution: 288dpi), only screen and (min-resolution: 3dppx) {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url($banner-3x);
    }

    background-position: center bottom;

    a,
    a:hover {
        color: $text-colour;
    }
}

#wrap {
    margin: 15px auto;
    width: 885px;

    // Sticky footer trick, see http://css-tricks.com/snippets/css/sticky-footer/
    min-height: 100%;
    margin-bottom: (-1 * $footer-height);

    &:after {
      content: "";
      display: block;
      height: $footer-height;
    }
}

@media only screen and (max-width : 900px) {
    #wrap { width: 90%; }
}

h1 {
    color: $inverse-text-colour;
    font-family: $title-font;
    font-size: $title-text-size;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}

@media only screen and (max-width : 900px) {
    h1 {
        font-size: $title-text-small-size;
    }
}

h2 {
    font-family: $subtitle-font;
    font-size: $regular-text-size;
    font-weight: 400;
    margin: 0;
    color: $subtitle-colour;
}

footer {
    background-size: cover;
    height: $footer-height;
    width: 100%;
    display: table;
    background-position: bottom;

    // Non-retina device
    background-image: url($banner);

    // Retina @2x device
    @media only screen and (-webkit-min-device-pixel-ratio: 1.2), only screen and (min--moz-device-pixel-ratio: 1.2), only screen and (-o-min-device-pixel-ratio: 5/4), only screen and (min-device-pixel-ratio: 1.2), only screen and (min-resolution: 120dpi), only screen and (min-resolution: 1.2dppx) {
        background-image: url($banner-2x);
    }

    // Retina @3x device
    @media only screen and (-webkit-min-device-pixel-ratio: 3), only screen and (min--moz-device-pixel-ratio: 3), only screen and (-o-min-device-pixel-ratio: 3/1), only screen and (min-device-pixel-ratio: 3), only screen and (min-resolution: 288dpi), only screen and (min-resolution: 3dppx) {
        background-image: url($banner-3x);
    }
}
