// Typography

    // Fonts
    @import url('https://fonts.googleapis.com/css?family=Lato:400,700');
    @import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:600');
    @import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
    
    $regular-font: 'Lato', sans-serif !default;
    $title-font: 'Cormorant Garamond', serif !default;
    $subtitle-font: 'Raleway', serif !default;
    $caption-font: 'Raleway', serif !default;

    // Colours
    $link-colour: #11ad7f !default;
    $link-colour-over: darken($link-colour, 15%) !default;
    $text-colour: #222 !default;
    $inverse-text-colour: #eee !default; // For use on dark backgrounds
    $subtitle-colour: #777 !default;
    $caption-colour: #777 !default;
    $border-colour: #e5e5e5 !default;
    $shadow-color: #222 !default;

    // Sizes
    $regular-text-size: 17px !default;
    $title-text-size: 40px !default;
    $title-text-small-size: 23px !default;
    $subtitle-text-size: 19px !default;
    $caption-text-size: 14px !default;

// Layout

    // Footer
    $footer-height: 262px !default;