// Typography

    // Fonts
    @import url('https://fonts.googleapis.com/css?family=Lato:400,900');
    @import url('https://fonts.googleapis.com/css?family=Raleway:300,400');
    
    $regular-font: 'Lato', sans-serif !default;
    $title-font: 'Lato', sans-serif !default;
    $subtitle-font: 'Raleway', serif !default;
    $caption-font: 'Raleway', serif !default;

    // Colours
    $link-colour: #598c7d !default;
    $link-colour-over: darken($link-colour, 15%) !default;
    $text-colour: #222 !default;
    $inverse-text-colour: #eee !default; // For use on dark backgrounds
    $subtitle-colour: #aaaaaa !default;
    $caption-colour: #777 !default;
    $border-colour: #e5e5e5 !default;

    // Sizes
    $regular-text-size: 16px !default;
    $title-text-size: 19px !default;
    $caption-text-size: 12px !default;

// Layout

    // Footer
    $footer-height: 262px !default;