//Colours
$post-header-date-colour: #444;
$post-image-background-colour: #f6f6f6;

//Dark colours
$dark-post-header-date-colour: #bababa;
$dark-post-image-background-colour: #080808;

// .post-header
$post-header-height: 42px !default;

// .post-footer-location
$post-footer-location-height: 25px !default;
$post-footer-location-line-height: $post-footer-location-height !default;